*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#top{
	background: #48525E;
	width: 100%;
	height:42px;
}
#top div{
	width: 962px;
	height:40px;
	margin: 0 auto;
}
#box{
	width:100%;
	margin-top:50px;
}
#box .show{
	width:960px;
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
	margin:0 auto;
}
#box .show a{
	color:black;
	line-height: 40px;
}
#box .show a:hover{
	color:red;
	text-decoration: underline;
}
#foot{
	margin-top: 100px;
	width: 100%;
}
#foot div{
	width: 1172px;
	margin: 0 auto;
}