*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	background: url("body_bg.jpg");
}
#top{
	width:100%;
	height: 41px;
	background: #48525E;
}
#top div{
	margin:0 auto;
	width:960px;
	height:40px;
}
#box{
	width:100%;
}
#box div{
	margin:0 auto;
	width:1200px;
	position: relative;
	background: white;
	border-bottom: 1px solid #EDEDED;
}
#box #title{
	height:106px;
	
	margin-top:225px;
}
#box #title #logo{
	position: absolute;
	color:white;
	top:-50px;
	left:90px;
	font: bold 32px/32px 'Microsoft YaHei';
}
#box #title h1{
	color:#000;
	font: normal 20px/30px 'Microsoft YaHei';
	position: absolute;
	left:49px;
	top: 29px;
	font-size: 2em;
	
}
#box #classes{
	height:40px;
}
#box #classes #text1{
	position:absolute;
	top:15px;
	left:40px;
	font-family: Arial,Console,Verdana,Courier New;
	color:#333;
	font-size: 14px;

}
#box #classes #text2{
	position:absolute;
	top:15px;
	left:106px;
	font-size: 14px;
    color: #df3434;
    font-family: Arial,Console,Verdana,Courier New;
}
#box #detail p{
	line-height: 40px;
	text-indent: 40px;
	padding:30px;
}
#foot{
	margin-top:100px;
	width:100%;
	background: white;
}
#foot div{
	width: 1172px;
	margin: 0 auto;
}