*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#top{
	background: #48525E;
	width: 100%;
	height:42px;
}
#top div{
	width: 962px;
	height:40px;
	margin: 0 auto;
}
#box{
	width: 100%;
}
#box #show{
	width: 962px;
	margin: 0 auto;
	margin-top:100px;
}
#box #show form{
	width: 100%;
	height: 644px;
	position: relative;
}
#box #show form #text1{
	position: absolute;
	font-size: 12px;
   font-family: Verdana, "Lucida Grande", Arial, Helvetica, sans-serif;
   color: #999;
   font-weight: bold;
}
#box #show form select{
	position: absolute;
	left: 0px;
	top: 23px;
	width: 66px;
	height: 25px;
	border-radius: 2px;
}
#box #show form #title{
	position: absolute;
	top:23px;
	left: 70px;
	width: 565px;
	height: 23px;
	text-indent: 4px;
}
#box #show form #text2{
	position: absolute;
	left: 0px;
	top:61px;
	font-size: 12px;
   font-family: Verdana, "Lucida Grande", Arial, Helvetica, sans-serif;
   color: #999;
   font-weight: bold;
}
#box #show form #detail{
	width: 100%;
	height: 453px;
	position: absolute;
	left: 0px;
	top: 84px;
	text-indent: 4px;
	font-size: 15px;
}
#box #show form #submit{
	position: absolute;
	top: 560px;
	left: 320px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	background: #185EA6;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
}
#box #show form #reset{
	position: absolute;
	top: 560px;
	right: 320px;	
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	background: #185EA6;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
}
hr{
	width: 962px;
	height: 5px;
	background: #eee;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}
#foot{
	margin-top: 100px;
	width: 100%;
}
#foot div{
	width: 1172px;
	margin: 0 auto;
}